<div class="main-content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">book</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Add Book -
              <small class="category">Add you book here</small>
            </h4>
            <form (ngSubmit)="createBook()" [formGroup]="createForm" #formDirective="ngForm" >
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Title" type="text" formControlName="title">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Author Name" type="text" formControlName="author">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="ISBN" type="text" formControlName="isbn">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Price" type="text" formControlName="price">
                      </mat-form-field>
                    </div>
                </div>
              
                <!-- <div class="row">
                    <div class="col-md-6 col-sm-4">
                        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail">
                                <img [src]="imageUrl"  alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail"></div>
                            <div>
                                <span class="btn btn-rose btn-round btn-file">
                                  <span class="fileinput-new">Select image</span>
                                  <input type="file"  (change)="handleFileInput($event.target.files)" name="..." accept="image/*" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row action-btn">
                    <button md-raised-button [disabled]="!isImageChnaged || !createForm.valid" class="btn btn-rose">ADD BOOK</button>
                  </div>
                <div class="clearfix">
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card right-profile">
          <div class="profile">
            <img [src]="imageUrl" alt="profile"/>
          </div>
          <div style="margin-top: 20px;">
            <span class="btn btn-rose btn-round btn-file">
              <span class="fileinput-new">Select image</span>
              <input type="file" (change)="handleFileInput($event.target.files)" name="..." accept="image/*" />
            </span>
        </div>   
      </div>
          <!-- <button mat-raised-button class="btn btn-rose btn-round">CHANGE</button> -->
     
        <!-- <div class="fileinput fileinput-new text-center" data-provides="fileinput">
          <div class="fileinput-new thumbnail">
              <img [src]="imageUrl"  alt="...">
          </div>
          <div class="fileinput-preview fileinput-exists thumbnail"></div>
          <div>
              <span class="btn btn-rose btn-round btn-file">
                <span class="fileinput-new">Select image</span>
                <input type="file" formControlName="url" (change)="handleFileInput($event.target.files)" name="..." accept="image/*" />
              </span>
          </div>
      </div> -->
      </div>
    </div>
  </div>
</div>
  