<div class="main-content">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <i class="material-icons">book</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Add Book -
              <small class="category">Add you book here</small>
            </h4>
            <form  [formGroup]="createForm" #formDirective="ngForm" (ngSubmit)="createBook()"> 
              <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Title" type="text" formControlName="title" >
                          <!-- <mat-error *ngIf="title.touched && title.invalid">Title name is
                            required</mat-error> -->
                        </mat-form-field>
                        <span *ngIf="title.touched && title.valid || title.dirty && title.valid" class="material-icons valid-icon">done</span>
                        <span *ngIf="title.touched && title.invalid || title.dirty && title.invalid" class="material-icons invalid-icon">clear</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                 
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Author Name" type="text" formControlName="author">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="ISBN" type="text" formControlName="isbn">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Price" type="text" formControlName="price">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="ddd" [checked]="isChecked"> 
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                            <span class="font" style="margin-left: 28px;">Classic</span>
                        </label>
                      </div>
                      <h3>Select Category</h3>
                      <section  *ngFor="let item of categories">
                        <mat-checkbox  [checked]="isChecked" (change)="onChange($event,item.id); false" required formControlName="categoryCheckbox">
                          <span class="font" >{{item.categoryName}}</span>  
                        </mat-checkbox>
                      </section>
                       
                    </div>
                </div>
              
           
                <div class="row action-btn">
                    <button md-raised-button [disabled]="!isImageChnaged || !createForm.valid" class="btn btn-rose">ADD BOOK</button>
                  </div>
                <div class="clearfix">
                </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
      
        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
          <div class="fileinput-new thumbnail">
              <img [(src)]="imageUrl"  alt="...">
          </div>
          <div class="uploadfileposition">
              <span class="btn btn-rose btn-round btn-file">
                <span class="fileinput-new">Select image</span>
                <input type="file" #Image (change)="handleFileInput($event.target.files)" name="..." accept="image/*" required/>
              </span>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
  