
.nav-container{
  position: relative;
}

.nav li{
  margin-bottom: 9px;
}
.nav li a{
  display: flex;
  align-items: center;
  margin: 0 15px;
  border-radius: 3px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  height: 50px;
  text-decoration: none;
}
.nav li a:hover, .parent-active{
  background-color: rgba(255,255,255,.1);
}

.collapse-a .caret{
  position: absolute;
  right: -74px;
  color: #fff;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.collapsed .caret{
  position: absolute;
  right: -74px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

